<header>
    <div id="logo">
        <a href="#">
            Patients Data
        </a>        
    </div>

    <a href="#" class="topnav">Patients</a>
    <a href="#" class="topnav">Add Patient</a>
    <a href="#" class="topnav">Search Patient</a>
</header>

<!-- <div class="container">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            <h4>Patient Names</h4>
            <mat-form-field>
                <mat-label>Names</mat-label>
                <select matNativeControl>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </mat-drawer>
    
        <mat-drawer-content>
            <div>something</div>
        </mat-drawer-content>
    </mat-drawer-container>
</div> -->

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <h4>Patient Names</h4>
        <ng-container *ngFor="let patient of patientData">
            <button mat-flat-button color="primary" (click)="selectPatient(patient)">
              {{ patient.fullName }}
            </button>
          </ng-container>
    </mat-drawer>

    <mat-drawer-content>
        <div>something</div>
    </mat-drawer-content>
</mat-drawer-container>
