table {
    width: 100%;
    border-collapse: collapse;

    tr {
      th {
        background-color: #adb5bd;
      }

      th, td {
        text-align: center;  
        vertical-align: top; 
      }
    }
  }
  