  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Amka</th>
      <th>Address</th>
      <th>City</th>
      <th>Admission Date</th>
    </tr>
   
      <tr *ngIf="selectedPatient">
        <td> {{ selectedPatient.id }} </td>
        <td> {{ selectedPatient.fullName }} </td>
        <td> {{ selectedPatient.amka }} </td>
        <td> {{ selectedPatient.address.street }} </td>
        <td> {{ selectedPatient.address.city }} </td>
        <td> {{ selectedPatient.admissionDate }} </td>
      </tr>
  </table> 
  
