<div class="search-patient-card">
    <div class="search-patient-name">
      <h6>Patients Names</h6>
      <ng-container *ngFor="let patient of patientData">
        <button mat-flat-button color="primary" (click)="selectPatient(patient)">
          {{ patient.fullName }}
        </button>
      </ng-container>
    </div>
  
    <div class="patient-details">
      <h6>Patient Details</h6>
      <mat-list *ngIf="selectedPatient">
        <mat-list-item>ID: {{ selectedPatient.id }}</mat-list-item>
        <mat-list-item>AMKA: {{ selectedPatient.amka }}</mat-list-item>
        <mat-list-item>Name: {{ selectedPatient.fullName }}</mat-list-item>
        <mat-list-item>Address: {{ selectedPatient.address.street }}, {{ selectedPatient.address.city }}</mat-list-item>
        <mat-list-item>Admission Date: {{ selectedPatient.admissionDate }}</mat-list-item>
      </mat-list>
    </div>
  </div>
  
  