<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Amka</th>
    <th>Address</th>
    <th>City</th>
    <th>Admission Date</th>
  </tr>

  <ng-container *ngFor="let patient of patientData">
    <tr>
      <td> {{ patient.id }} </td>
      <td>
        <a routerLink="/patient-detail/{{ patient.id }}">
          {{ patient.fullName }}
        </a>
      </td>
      <td> {{ patient.amka }} </td>
      <td> {{ patient.address.street }} </td>
      <td> {{ patient.address.city }} </td>
      <td> {{ patient.admissionDate }} </td>
    </tr>
  </ng-container>
</table>
