<mat-list>
   <div mat-subheader>Patients Data</div>
   <ng-container *ngFor="let patient of patientData">
    <div class="mat-container">
      <mat-list-item><p>Name: {{ patient.fullName }}</p></mat-list-item>
      <mat-list-item><p>AMKA: {{ patient.amka }}</p></mat-list-item>
      <mat-list-item><p>Address: {{ patient.address.street }}, {{ patient.address.city }}</p></mat-list-item>
      <mat-list-item><p>Admission Date: {{ patient.admissionDate }}</p></mat-list-item>
    </div>
   </ng-container>
 </mat-list>