table {
  width: 100%;
  // height: 100%;

  tr {
    td {
      text-align: center;

      a {
        margin-right: 10px;
      }

      a:hover { 
        cursor: pointer;
      }
    }
  }
}

div#edit-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);

  div.modal-content {
      margin-top: 10%;
      margin-left: 10%;
      display: block;
  }
}