<!-- <mat-list>
   <div mat-subheader>Patients Data</div>
   <ng-container *ngFor="let patient of patientData">
    <div class="mat-container">
      <mat-list-item><p>Name: {{ patient.fullName }}</p></mat-list-item>
      <mat-list-item><p>AMKA: {{ patient.amka }}</p></mat-list-item>
      <mat-list-item><p>Address: {{ patient.address.street }}, {{ patient.address.city }}</p></mat-list-item>
      <mat-list-item><p>Admission Date: {{ patient.admissionDate }}</p></mat-list-item>
    </div>
   </ng-container>
 </mat-list> -->

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Amka</th>
    <th>Address</th>
    <th>City</th>
    <th>Admission Date</th>
  </tr>

  <ng-container *ngFor="let patient of patientData">
    <tr>
      <td> {{ patient.id }} </td>
      <td> {{ patient.fullName }} </td>
      <td> {{ patient.amka }} </td>
      <td> {{ patient.address.street }} </td>
      <td> {{ patient.address.city }} </td>
      <td> {{ patient.admissionDate }} </td>
    </tr>
  </ng-container>
</table>
