<div class="add-patient-card">
    <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input matInput>      
    </mat-form-field>
    <mat-form-field>
        <mat-label>AMKA</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Admission Date</mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-flat-button>Add Patient</button>
</div>