div.add-patient-card {
    border:1px solid red;

    mat-form-field {
        display: block;
        margin: 10px 30%;
    }

    button {
        margin:0 auto;
        display: block;
        background-color: green;
    }
}
