<div class="add-patient-card">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="fullName">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>AMKA</mat-label>
      <input matInput [(ngModel)]="amka">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="address">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="city">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Admission Date</mat-label>
      <input matInput [(ngModel)]="admissionDate">
    </mat-form-field>
  
    <button mat-flat-button color="primary" (click)="addPatient()">Add Patient</button>
    <button mat-flat-button color="primary" id="rmPatient" (click)="onCancel()">Cancel</button>
  </div>
  