<mat-toolbar>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
         <mat-icon >menu</mat-icon>
     </button>
    <span>Patients</span>
    <div class="button-container">
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>avatar</mat-icon>
        </button> -->
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128
               0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 
               29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
            </svg>
          </div>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>
  
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <button mat-button routerLink="/patients">Users</button>
        <button mat-button routerLink="/settings">Settings</button>
    </mat-drawer>
    
    <mat-drawer-content>
        <router-outlet></router-outlet>
         <!-- <app-settings></app-settings> -->
        <!-- <app-patients></app-patients> -->
    </mat-drawer-content>
</mat-drawer-container>
  