button[mat-flat-button] {
  margin: 5px;
  float: right;
  background-color: blue;
  color: white;
  border-radius: 30px;
  width: 80px;
  height: 50px;
  border: none;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

button[mat-flat-button]:hover {
  opacity: 0.5;
}

div.cl {
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
  }
  
  strong {
    font-weight: bold;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
  }
  
  td {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }

  div#edit-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  
    div.modal-content {
        margin-top: 10%;
        margin-left: 10%;
        display: block;
    }
  }
  