  <div *ngIf="trades.length > 0; else loading">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Series Code</th>
      </tr>
  
      <ng-container *ngFor="let trade of trades">   
        <tr>
          <td> {{ trade.id }} </td>
          <td>
            <!-- {{ trade.traderName }} -->
            <!-- <a routerLink="/trader-detail" (click)="selectTrader(trade)"> {{ trade.traderName }} </a> -->
          <!-- <a [routerLink]="['/trader', trade.id]" (click)="selectTrader(trade)"> {{ trade.traderName }} </a> -->
          <a (click)="openEditDialog(trade!)"> {{ trade.traderName }} </a>
          </td>        
          <td> {{ trade.date }} </td>
          <td> {{ trade.seriesCode }} </td>
        </tr>
      </ng-container>
    </table>
  </div>
  
  <ng-template #loading>
    <div class="loading">
      <p>Loading trades
        <span class="dot-one">.</span>
        <span class="dot-two">.</span>
        <span class="dot-three">.</span>
      </p>
    </div>
  </ng-template>