<div *ngIf="selectedPatient" class="details-card">
    <h1>Details</h1>

    <button mat-flat-button color="primary" routerLink="/patients">Back</button>
    <button mat-flat-button color="primary" routerLink="/patient-detail/{{selectedPatient.id}}">Edit</button>

    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Amka</th>
        <th>Address</th>
        <th>City</th>
        <th>Admission Date</th>
      </tr>
      <tr>
        <td>{{ selectedPatient.id }}</td>
        <td>{{ selectedPatient.fullName }}</td>
        <td>{{ selectedPatient.amka }}</td>
        <td>{{ selectedPatient.address.street }}</td>
        <td>{{ selectedPatient.address.city }}</td>
        <td>{{ selectedPatient.admissionDate }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="!selectedPatient">
    <p>No patient selected.</p>
  </div>
  