h1 { 
    text-align: center;
}

button[mat-flat-button] {
    margin: 5px;
    float: right;
    // margin:0 auto;
    // display: block;
    // background-color: blue;
    // color: white;
    // border-radius: 30px;
    // width: 100px;
    // height: 50px;
    // border: none;
}

table {
    width: 100%;
    height: 100%;
  
    tr {
      td {
        text-align: center;
      }
  
      a {
        color: blue;
      }
  
      a:active {
        color: black;
      }
    }
  }

  div#edit-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  
    div.modal-content {
        margin-top: 10%;
        margin-left: 10%;
        display: block;
    }
  }